body{
    margin:0;
    padding: 0;
    /*background-color: rgb(238, 238, 238);*/
    background-image: linear-gradient(-45deg, #9e9e9e 50%, rgb(230, 230, 230) 50%);
}
/*HEADER*/

.menuSup{
    display: flex;
    width: 100%;
    background-color: rgb(20, 20, 19);
    padding: 5px;
    position: relative;
}
.imgYnombre{
    width: auto;
    display: flex;
    margin-right: 10px;
}
.imgYnombre img{
    width: 50px;
    height: 50px;
    border-radius: 40px;
    margin-right: 6px;
}
.imgYnombre h5{
    font-size: 16px;
}
.buscador{
    width: 37%;
    padding-top: 2px;
}
.cajaCarrito{
    position: absolute;
    right: 20px;
    top: 23px;
    width: 10%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.fas.fa-shopping-cart{
    color: blanchedalmond;
}
.menu2{
    width: 100%;
    height: 50px;
    background-color: brown;

}
main { 
    width: 90%;
}
/*FOOTER*/

.container{
 width: 100%;
 background-color: black;
}
.centrar ul {
    display: flex;
    flex-direction: column;
}
.centrar ul li{
    text-align: center;
    margin-top: -15px;
}
.lista{
    display: flex;
    flex-direction: column;
    
}
nav{
    background-color: black;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.medios-pago a img{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    width: 100%;
}
.seguinos {
    color: white;
    text-align: center;
}
.seguinos a img{
    display: inline-block;
    width: 40px;
    margin-left: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
}
h5{
    color: white;
}

